<p>Halo <%= @user.name %></p>
<p>
  Anda telah di daftarkan sebagai user di Prokasih. Berikut username dan password anda:
</p>
<ul>
	<li>email: <%= @user.email %></li>
	<li>password: <%= @password%></li>
</ul>
<p><a href="<%= ENV['prokasih_url']%>">Klik disini untuk masuk.</a></p>
<p>
	Admin Prokasih
</p>