<div class="header-content">
  <h2 class="page-header">Dokumentasi</h2>
</div>
<div class="row">
  <% if @documentations.any? %>
    <% @documentations.each do |doc| %>
      <div class="col-xs-6 col-md-2">
        <%= link_to(image_tag(doc.image_url(:thumb)), doc.image_url, {:class => 'fancybox', :rel => "zomg_awesome_images", :title => doc.title}) %>
      </div>
    <% end %>
  <% else %>
    <%= render :partial => 'shared/no-data'%>
  <% end %>
</div>
<%= will_paginate @articles, :page_links => false, renderer: BootstrapPagination::Rails %>  
<div id="preview-container">
</div>

<script type="text/javascript">
$( document ).on('turbolinks:load', function() {
  $('a.fancybox').fancybox({
    parent: 'body',
    openEffect  : 'none',
    closeEffect : 'none',
    helpers : {
      media : {}
    }
  });
});

</script>