/*font configuration*/
@font-face {
  font-family: 'UniversCondensedMedium';
  src: font-url( asset-path('Univers-Condensed-Medium.eot') );
  src: font-url( asset-path('Univers-Condensed-Medium.eot?#iefix') ) format('embedded-opentype'),
    font-url( asset-path('Univers-Condensed-Medium.woff') ) format('woff'),
    font-url( asset-path('Univers-Condensed-Medium.ttf') ) format('truetype'),
    font-url( asset-path('Univers-Condensed-Medium.svg#Univers-Condensed-Medium') ) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: font-url( asset-path('HelveticaNeueRegular.eot') );
  src: font-url( asset-path('HelveticaNeueRegular.eot?#iefix') ) format('embedded-opentype'),
    font-url( asset-path('HelveticaNeueRegular.woff') ) format('woff'),
    font-url( asset-path('HelveticaNeueRegular.ttf') ) format('truetype'),
    font-url( asset-path('HelveticaNeueRegular.svg#HelveticaNeueRegular') ) format('svg');
  font-weight: 100;
  font-style: normal;
}

/*Body styles*/
body.custom-background {
	background-color: #002600;
}

/*Override bootstrap navigation */
.custom-nav{
  border-radius: 0;
}
.custom-nav a{
	color: #fff;
}
.custom-nav .dropdown-menu a{
	color: #fff;	
}
.custom-nav .dropdown.open>a{
	background-color: #449d44;
	border-color: #398439;
}
.nav-color{
	color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.nav-color .navbar-toggle{
	background-color: #5cb85c;
  border-color: #398439;	
}
.nav-color .navbar-toggle .icon-bar{
	background-color: #398439;
}
.nav-color li a:hover, .nav-color li a:active{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  -webkit-transition: all ease-out 0.4s !important;
  -moz-transition: all ease-out 0.4s !important;
  -o-transition: all ease-out 0.4s !important;
  transition: all ease-out 0.4s !important;
}

/*Override bootstrap container */
.container {
  max-width: 1000px;
  min-height: 700px;
	margin-top: 25px;
  /*margin-bottom: 25px;*/
	padding-left: 0px;
	padding-right: 0px;
  padding-bottom: 20px;
}

.container > #page-content {
	padding-left: 15px;
	padding-right: 15px;	
} 

#page-wrapper {
	background-color: #fff;
}

/*Header styles*/
.top-banner {
	height: 120px;
  padding-top: 13px;
	margin: 0px auto;
	background: image-url('logo-menlh-ri_tegal.png');
}

/*fixed affix navifation*/
.affix {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.affix a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.affix + .top-banner {
  padding-top: 70px;
}

/*error tooltip*/
#error_explanation {
  color: #a94442;
  ul {
    color: #a94442;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#map {
  height: 290px;
}

#map-static{
  margin-bottom: 40px;
  text-align: center;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.red{
  color: red;
}

.black{
  color: black;
}

.bold{
  font-weight: bold;
}

#result-container {
  margin-top:20px !important;
}

table>thead>tr>th {
  text-align: center;
  vertical-align: middle !important;
}

.btn:hover, .btn:active {
  -webkit-transition: all ease-out 0.4s !important;
  -moz-transition: all ease-out 0.4s !important;
  -o-transition: all ease-out 0.4s !important;
  transition: all ease-out 0.4s !important;
}

.hidden {
  display: none;
}

.right{
  float: right !important
}

#title-caption {
  text-align: center;
  font-family: "UniversCondensedMedium","HelveticaNeue",Helvetica,Arial,sans-serif;
  color: #21610B;
}

#title-caption h1 {
  font-size: 29px;
  font-weight: bolder;
  margin-bottom: 0 !important;
}

#title-caption h2 {
  font-size: 27px;
  margin-top: 0 !important;
}

.article{
  padding-left: 14px;
  padding-right: 14px;
}

.author-content {
}

.article-content {
  padding-top: 14px;
  padding-bottom: 25px;
  text-align: justify;
  text-justify: inter-word;
}

.article-content img {
  width: 100%;
  padding-bottom: 14px;
}

a{
  color: #449d44;
}

a:hover{
  color: #5cb85c;
}

.media-object {
  width: 150px !important;
  height: 113px !important;
}

.thumbnail img {
  height: 110px;
}

.modal-body img{
  width: 100%;
}

.modal-body{
  text-align: center;
  font-style: italic;
}

.modal-body .image-desc{
  color: #848484;
  padding-top: 10px;
}

#comments, #comments li {
  margin: 0;
  padding: 0;
}
 
#comments>li {
  list-style: none;
  border-bottom: 1px solid #BCF5A9;
  margin-bottom: 7px;
}

#comments>li h4 {
  font-weight: bolder;
}

/*#comments>li p.pull-right {
  color: #5cb85c;
}*/

.center {
  text-align: center;
}

.child-comment{
  list-style: none;
  font-size: 13px;
}

/*Home style*/
#myCarousel .carousel-caption {
    left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(76, 174, 76, 0.8);
  text-shadow:none;
}
#myCarousel .carousel-caption a{
  color: #fff;
}

#myCarousel .list-group {
  position:absolute;
  top:0;
  right:0;
  padding-right: 0px !important; 
}
#myCarousel .list-group-item {
  border-radius:0px;
  cursor:pointer;
}
#myCarousel .list-group .active {
  background-color:#5cb85c;
  border-color: #4cae4c;  
}

#myCarousel .carousel-inner img{
  height: 400px;
  width: 760px;
}

@media (min-width: 992px) { 
  #myCarousel {padding-right:33.3333%;}
  #myCarousel .carousel-controls {display:none;}  
}
@media (max-width: 991px) { 
  .carousel-caption p,
  #myCarousel .list-group {display:none;} 
}

.article-container{
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.big-button-title {text-transform: uppercase;letter-spacing: 1px; }
.count { font-size: 37px;margin-top: 10px;margin-bottom: 10px; }
.big-button .fa { font-size: 100px;text-align: right;position: absolute;top: 7px;right: 27px;outline: none; }
.big-button .panel { color:#fff;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
.big-button a { text-decoration:none; }
.big-button .panel { background-color:#5cb85c; }
.big-button .panel:hover { 
  background-color:#449d44;
  -webkit-transition: all ease-out 0.4s !important;
  -moz-transition: all ease-out 0.4s !important;
  -o-transition: all ease-out 0.4s !important;
  transition: all ease-out 0.4s !important;
  transform: scale(1.1); 
}

.footer{
  width: 1000px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}