/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    will-change: transform;
    transition: transform 250ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
  transform: translateY(-100%);
}
.header--fixed{
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
}