@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "font-paths";

body {
	background: image-url('landing-page.jpg') no-repeat;
	background-size: 100%; 
}

.panel-default {
  opacity: 0.9;
  margin-top: 30px;
}
.form-group.last { margin-bottom:0px; }

.container>div.row>div {
	margin-top:10% !important;
}

@media (min-width: 990px){
	.side-title{
		margin-top: 30px;
		height: 246px;
	  padding-left: 20px;
	  border-left: 4px solid #4B8A08;
	  color: #21610B;
	}	
}

@media (max-width: 989px) {
  .side-title, .side-title>h1 {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}