@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

body { 
 	background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
}

.panel-default {
  opacity: 0.9;
  margin-top: 30px;
}
.form-group.last { margin-bottom:0px; }

.container>div.row>div {
	margin-top:10% !important;
}