@import "bootstrap.css";

.red{
  color: red;
}

.black{
  color: black;
}

.bold{
  font-weight: bold;
}

#result-container {
  margin-top:20px !important;
}

table>thead>tr>th {
  text-align: center;
  vertical-align: middle !important;
}

.header{
	text-align: center;
}