<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Prokasih</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'login', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
